<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.wmsapp">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Activity.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_wms_img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.activity.AddMaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.AddContractorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.AddWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.EditMaterialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.EditWarehouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.EditContractorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.AddInwardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.InwardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.OrderDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.AddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.activity.Abcd" />
        <activity
            android:name=".Activity.activity.GenerateInvoice"
            android:screenOrientation="portrait" />

        <service android:name=".Activity.activity.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Activity.activity.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.activity.InvoiceDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Activity.activity.MaterialDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.Imagedownload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.AddCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.activity.InvoiceCall"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.activity.InvoiceList"></activity>
    </application>

</manifest>